::-webkit-scrollbar-thumb {
  background-color: #1d867c !important;
}
::-webkit-scrollbar-track {
  background-color: #333839 !important;
}

html[dir] .web.monfrik {
  background-image: none;
  max-width: 650px;
}

html[dir] .web.monfrik::after {
  content: '';
  background-image: url("https://images.wallpaperscraft.com/image/trees_top_view_forest_119826_2560x1080.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  opacity: .2;
}

html[dir] .web.monfrik::before {
  content: 'Разработал MonFriK';
  position: absolute;
  right: 20px;
  bottom: 10px;
  color: #00ffd5;
  opacity: .2;
}

[data-asset-chat-background] {
  background-image: url("https://i.pinimg.com/736x/55/3c/50/553c50be9b34f7c4d04fb2445091a280.jpg") !important;
  background-position: center;
  background-size: cover;
}

html[dir] .monfrik ._2zynu {
  background-image: url("https://i.pinimg.com/originals/e0/57/44/e05744161d7500a183d5ec3a38a6e626.jpg") !important;
  background-size: cover;
}

html[dir] .monfrik ._1GX8_,
html[dir] .web.monfrik,
html[dir] .monfrik ._2zynu {
  background-color: #121212;
}

/* message-in */
html[dir] .monfrik .message-in .MVjBr {
  background-color: #333839;
}
html[dir] .monfrik .message-in ._1JfxZ path,
html[dir] .monfrik ._3L0q3._167q._1Fc0v #svg-camera,
html[dir] .monfrik ._3L0q3._167q._1Fc0v #svg-document,
html[dir] .monfrik ._3L0q3._167q._1Fc0v #svg-contact,
html[dir] .monfrik ._3L0q3._167q._1Fc0v #svg-image {
  fill: #333839;
}

/* message-out */
html[dir] .monfrik .message-out .MVjBr,
html[dir] .monfrik ._1CnF3,
html[dir] .monfrik ._1CRb5._34vig {
  background-color: #3d4142;
}
html[dir] .monfrik .message-out ._1JfxZ path {
  fill: #3d4142;
}

html[dir] .monfrik ._1i1U7._2DNgV,
html[dir] .monfrik .jZ4tp._1i1U7{
  background: linear-gradient(90deg,rgba(0,0,0,0) 0,rgba(0,0,0,.15) 50%);
}

html[dir] .monfrik ._9tCEa ._2MSJr,
html[dir] .monfrik ._2rR_l,
html[dir] .monfrik ._3pRd1 {
  background-color: #3d4142;
}

html[dir] .monfrik ._2MSJr {
  background-color: #F0F0F0;
}

html[dir] .monfrik ._1Plpp,
html[dir] .monfrik ._2MSJr {
  background-color: #efefef;
}

html[dir] .monfrik ._3sEgI,
html[dir] .monfrik ._1ifyO,
html[dir] .monfrik ._3Seam,
html[dir] .monfrik .MS-DH._2-mCk,
html[dir] .monfrik ._1vDUw._1UbeR,
html[dir] .monfrik .JWJN5 {
  background-color: #485255;
}

html[dir] .monfrik ._3D9Wd,
html[dir] .monfrik ._3gUiM {
  background-color: rgba(72, 82, 85, 0.6);
}

html[dir] .monfrik ._3b2Cf:before {
  background-color: #0e9eb1;
}

html[dir] .monfrik ._3auIg,
html[dir] .monfrik ._2vsnU,
html[dir] .monfrik ._1qUma,
html[dir] .monfrik ._1CSx9,
html[dir] .monfrik ._2EXPL {
  background-color: #1F2122;
}

html[dir] .monfrik ._3Kxus > span,
html[dir] .monfrik ._3Bxar,
html[dir] .monfrik ._25Ooe,
html[dir] .monfrik .Gd51Q._3sgkv,
html[dir] .monfrik ._3XrHh,
html[dir] .monfrik ._1Plpp,
html[dir] .monfrik .P8cO8,
html[dir] .monfrik .dPZky,
html[dir] .monfrik ._34D8D,
html[dir] .monfrik ._3GoJv span,
html[dir] .monfrik .bMKum,
html[dir] .monfrik ._15aTv,
html[dir] .monfrik ._21sW0._1ecJY ._1AwDx,
html[dir] .monfrik span.iYPsH,
html[dir] .monfrik ._2S1VP,
html[dir] .monfrik ._2sNbV ._3F6QL ._2S1VP,
html[dir] .monfrik .Y9G3K,
html[dir] .monfrik .Cpiae,
html[dir] .monfrik ._itDl,
html[dir] .monfrik ._2HiNF,
html[dir] .monfrik .GclUX._2DzXb,
html[dir] .monfrik ._3FR9x,
html[dir] .monfrik ._2DwXW,
html[dir] .monfrik .uyEaY:before,
html[dir] .monfrik ._15JHr ._3FXB1,
html[dir] .monfrik ._15JHr ._1M1iS,
html[dir] .monfrik ._3WZoe ._3FXB1,
html[dir] .monfrik ._3_7SH ._3FXB1,
html[dir] .monfrik ._1xGbt,
html[dir] .monfrik ._23q2r {
  color: #F0F0F0;
}

html[dir] .monfrik ._3Ye_R {
  color: #F0F0F0 !important;
}

html[dir] .monfrik ._23q2r a,
html[dir] .monfrik .OUeyt,
html[dir] .monfrik ._1qi0v,
html[dir] .monfrik .vdXUe,
html[dir] .monfrik ._1sYdX,
html[dir] .monfrik ._3BIvq {
  color: #1d867c;
}

html[dir] .monfrik .PNlAR {
  background-color: #1d867c;
}

html[dir] .monfrik ._2FBdJ ._3Bxar,
html[dir] .monfrik ._3LL06,
html[dir] .monfrik ._1M0Ew,
html[dir] .monfrik ._27YTC,
html[dir] .monfrik ._3xMAk,
html[dir] .monfrik .GclUX,
html[dir] .monfrik ._2IkcY,
html[dir] .monfrik ._3EFt_,
html[dir] .monfrik .vW7d1 ._3FXB1,
html[dir] .monfrik ._2_LEW {
  color: #CCCCCC;
}

html[dir] .monfrik ._2y17h .rAUz7 path,
html[dir] .monfrik .weEq5 path,
html[dir] .monfrik ._1XccF path,
html[dir] .monfrik ._1VfKB path,
html[dir] .monfrik ._3zwKD path,
html[dir] .monfrik .jZ4tp._1i1U7 path,
html[dir] .monfrik ._2DNgV._1i1U7 path,
html[dir] .monfrik ._1ZiJ3 path,
html[dir] .monfrik ._26fC0 path,
html[dir] .monfrik ._1vzDw path,
html[dir] .monfrik ._3QWKD path,
html[dir] .monfrik ._1aTxu path,
html[dir] .monfrik .GclUX path,
html[dir] .monfrik ._3SX5f path,
html[dir] .monfrik .rAUz7 path,
html[dir] .monfrik .jdhpF path,
html[dir] .monfrik ._3FwEk path {
  fill: #F0F0F0;
}

html[dir] .monfrik ._1VfKB.a5DO0 path,
html[dir] .monfrik ._2EXPL ._3Bxar path,
html[dir] .monfrik ._1xtH,
html[dir] .monfrik ._3BCzw path,
html[dir] .monfrik ._1xtH9 path,
html[dir] .monfrik ._1M3wR._1BC4w path{
  fill: #1d867c;
}

html[dir] .monfrik ._1M3wR._3M2St path {
  fill: #121212;
}

html[dir] .monfrik ._2cLHw,
html[dir] .monfrik .vW7d1._3rjxZ ._3FXB1,
html[dir] .monfrik ._2U5s1,
html[dir] .monfrik ._3F6QL ._2S1VP,
html[dir] .monfrik ._1pCYj {
  color: #121212;
}

html[dir] .monfrik ._2EXPL._1f1zm,
html[dir] .monfrik .AfVTG,
html[dir] .monfrik ._2sNbV,
html[dir] .monfrik ._2EXPL._1FGIr:hover,
html[dir] .monfrik ._1OnaQ {
  background-color: #2f3132;
}

html[dir] .monfrik ._2EXPL:hover ._3j7s9 {
  border-top-color: #444;
}

html[dir] .monfrik .message-out ._1iJeo {
  background-color: #fafafa;
}

html[dir] .monfrik .bg-color-9,
html[dir] .monfrik .bg-color-9 {
  background-color: #ccc;
}

html[dir] .monfrik ._39LWd {
  color: #1F2122;
}

html[dir] .monfrik ._2EXPL:hover,
html[dir] .monfrik ._2y17h,
html[dir] .monfrik .gQzdc,
html[dir] .monfrik .gQzdc._3sdhb,
html[dir] .monfrik ._1CkkN,
html[dir] .monfrik ._1RQfk,
html[dir] .monfrik ._1AKfk,
html[dir] .monfrik ._3pkkz {
  background-color: #333839;
}

html[dir] .monfrik ._36Zz0._1exov,
html[dir] .monfrik ._3BCzw{
  background-color: #3d4142;
}

html[dir] .monfrik .rstyJ,
html[dir] .monfrik ._1CkkN:hover,
html[dir] .monfrik ._1qi0v:hover,
html[dir] .monfrik ._66JgU {
  background-color: #495457;
}

html[dir] .monfrik ._3j7s9, 
html[dir] .monfrik ._2zkF3 ._3YwRO {
  border-top: 1px solid #333;
}

html[dir] .monfrik ._3SX5f {
  background-color: transparent;
}

html[dir] .monfrik ._2a1Yw._1OmDL._3FXB1 {
  font-weight: bold;
}